@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    text-align: center;
    background-color: #011f3f;
}

a,
a:active,
a:hover,
a:link,
a:visited {
    color: #ffffff;
    background-color: #00ff00;
    border: 10px solid #000000;
    font-style: bold;
    font-size: 2rem;
    text-decoration: none;
}

#level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 5%;
    color: #fef2bf;
}

.container {
    display: block;
    width: 50%;
    margin: auto;
}

.btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid #000000;
    border-radius: 20%;
    cursor: pointer;
    outline: none;
}

.game-over {
    background-color: #ff0000;
    opacity: .8;
}

.red {
    background-color: #ff0000;
}

.green {
    background-color: #00ff00;
}

.blue {
    background-color: #0000ff;
}

.yellow {
    background-color: #ffff00;
}

.pressed {
    box-shadow: 0 0 20px #ffffff;
    background-color: #cccccc;
}

@media screen and (max-width: 760px) {
    .container {
        width: 100%;
    }

    .row {
        display: flex;
    }

    .btn {
        margin: 0;
    }
}

@media screen and (min-width: 761px) {
    #start {
        display: none;
        visibility: hidden;
    }
}